/*
[selector] {
key:value
}
*/
div {
  color: yellow;
}
#myInlineDiv {
  font-size: 25px;
}
.myBlockDiv {
  font-style: italic;
}
.font-bold {
  font-weight: bold;
}
/*
size = content + padding + border
border-box +> actual size = width && height
*/
#box-model {
  width:100px;
  height: 100px;
  background-color: green;
  border-width: 10px;
  border-color: gray;
  border-style: solid; /* solid: vach lien; dotted: vach cham*/
  padding-left: 10px;
  padding : 10px;
  margin-left: 10px;
  box-sizing: border-box;
  border: 10px solid gray;
}
a:hover {         /*hover, focus,active*/
        color: red;
        background-color: green;
      }
a[href^="#abcd"]{
 color: cyan;
 }