body {
  height: 2000px;
}
.static {
  border: 3px solid green;
  position: static;
  left: 20px; /*not working*/
}
.relative {
  border: 3px solid green;
  position: relative;
  left: 20px;
}
.fixed {
  border: 3px solid green;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.absolute {
  border: 3px solid green;
  position: absolute;
  right: 100px;
  bottom: 100px;
}
.absolute-container {
  border: 3px solid green;
  position: absolute;
  width: 600px;
  height: 200px;
}
.sticky {
  border: 3px solid green;
  position: sticky;
  top: 10px;
}
.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}
.flex {
  display: flex;
  width: 600px;
  height: 500px;
  background-color: lightgray;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.item {
  width: 50px;
  height: 50px;
  font-size: 18px;
  border: 1px solid blue;
  background-color: white;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}